body
{
margin:0;
background:white;
}

.topbar
{
background:#1f3c88;
color:white;
padding:20px;
display:flex;
justify-content:space-between;
}

.menu a
{
color:white;
margin-left:20px;

}

.container
{
width: 80%;
margin:auto;
background:white;
padding:30px;
display:flex;
gap:40px;
}

.text
{
flex:2;
}

.text h1
{
color:#1f3c88;
}

.text h2
{
color:#1f3c88;
margin-top:30px;
}

.image
{
flex:1;
}

.image img
{
width:100%;
}